services:
  - type: web
    name: college-resource-hub
    env: java
    buildCommand: ./mvnw clean install -DskipTests
    startCommand: java -jar target/college-resource-hubb-0.0.1-SNAPSHOT.jar
    envVars:
      - key: PORT
        value: 10000
      - key: JAVA_OPTS
        value: -Xmx512m
      - key: H2_CONSOLE_ENABLED
        value: false
    healthCheckPath: /api/resources/hello
    autoDeploy: true

databases:
  - name: college-resource-hub-db
    plan: free
    databaseName: college_resources
    user: college_user
